.tableMain {
  border-spacing: 0;
  font-size: 13PX;
}

.tableMain .date {
  width: 11%;
}

.dateSched {
  color: var(--orange);
  font-weight: bold;
}

.infoMain {
  display: flex;
}
.infoMain div {
  width: 100%;
}

.replTrue{
  background-color: var(--red);
  padding: 0 0.5rem;
  color: var(--text-inverse);
}
.replFalse{
  background-color: var(--green);
  padding: 0 0.5rem;
  color: var(--text-inverse);
}