@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root{
  --white: #fff;
  --gray: #f0f2f5;
  --gray-line: #DCDDE0;
  --gray-light: #f9f9f9;
  --gray-bold: #4e5461;
  --gray-headers: #6f7581;
  --text-inverse: #fff;
  --text: #666666;
  --texthighlight: #B3B9FF;
  --black: #2E384D;
  --red: #E83F5B;
  --green: #5EB691;
  --blue: #2196F3;
  --blue-logo: #012C5F;
  --blue-dark: #363f5f;
  --orange: coral;
}

@media(max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  html {
    font-size: 87.05%;
  }
}

body {
  color: var(--text);
  background-color: var(--gray);
}


/*Defaut styles ==================================*/
body, input, textarea, button, footer {
  font: 400 1rem "inter", sans-serif;
}

button {
  padding: 0.25rem;
  margin-left: 0.25rem;
}

button {
  cursor: pointer;
}

input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border-color: var(--gray-line);
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  background-color: #354880;
  height: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#fff;
  text-indent: 0.01px; /* Remove seta padrão do FireFox */
  text-overflow: "";  /* Remove seta padrão do FireFox */
  margin: 0 5px;
  border-radius: 0.25rem;
  padding: 3px 5px;
}

textarea {
  border: 1px solid var(--gray-line);
  border-radius: 5px;
}

/*Strutuct ========================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  padding: 0 2rem;
  margin-top: 8.6rem;
}

main div.container {
  border-style: solid;
  border-color: var(--gray-line);
  border-radius: 0.5rem 0.5rem 0 0;

  background-color: var(--gray);
  margin-top: 9.6rem;
}

main div.container div.header-container {
  background-color: var(--gray-line);
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main div.container div.body-container {
  padding: 1rem;
}

main div.footer-container{
  height: 3rem;
}

/* Modal ============================================*/
.modal-overlaw {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: var(--gray);
  border-radius: 0.5rem;
  padding: 2.5rem;
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.modal h2 {
  margin-bottom: 1rem;
}

/*Tables =============================================*/

table {
  width: 100%;
  border-spacing: 0;
  margin: 2px 0;
}

td, th {
  padding: 0.5rem;
  text-align: start;
  border-right: 2px solid #F0F2F5;
  border-bottom: 2px solid #F0F2F5;
}
td:last-child, th:last-child {
  border-right: 0;
}

th {
  background-color: var(--gray-line);
}
/*With Border Radius*/
th:first-child {
  border-radius: 0.5rem 0 0 0;

}
th:last-child {
  border-radius: 0 0.5rem 0 0;
}

/*Without Border Radius*/
.tableWithoutBordRad th:first-child {
  border-radius: 0;

}
.tableWithoutBordRad th:last-child {
  border-radius: 0;
}

tbody tr {
  background-color: #ECEDEF;
}

tbody tr:hover {
  background-color: var(--white);
}

tbody td {
  color: var(--blue-dark);
}

/* BUTTONS ========================================*/
.circle-add {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  padding: 0.25rem;
  border-radius: 50%;
  border-color: transparent;
  box-shadow: none;
  background-color: var(--green);
  color: var(--white);

  position: fixed;
  right: 3rem;
  bottom: 3rem;

  opacity: 1;
  transition: all 0.3s;
}
.circle-add:hover {
  opacity: 0.7;
  bottom: 3.2rem;
}

.boxBtnBorderCiclo {
  margin-top: 1rem;
}
.btnBorderCiclo {
  width: 15%;
  border: none;
  padding: 0.5rem 0;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
}

.btnBorderCiclo:hover {
  opacity: 0.7;
}

.btnBorderCiclo:disabled {
  opacity: 1;
  cursor: no-drop;
}

/*Outhers Components ==============================*/
.selectTransparent {
  background-color: transparent;
  border: none;
  color: var(--black);
  width: 100%;
  margin: 0;
}

.dateInput {
  background-color: #354880;
  color:#fff;
  border-radius: 0.25rem;
  border: none;
}
.dateInput::-webkit-calendar-picker-indicator{
  color: #fff;
  cursor: pointer;
}
.dateInput::-webkit-clear-button {
  color: red;
}

.headerBorderCiclo {
  padding: 1rem;
  border: 1px solid var(--gray-bold);
  border-radius: 5px 5px 0 0;
}

.bodyBorderCiclo {
  padding: 1rem;
  border: 1px solid var(--gray-bold);
  border-radius: 0 0 5px 5px;
}

.labelField {
  font-weight: 700;
}

.flexRowCenter {
  display: flex;
  align-items: center;
}

.marginTop {
  margin-top: 1rem;
}
.marginRight {
  margin-right: 1rem;
}
.marginBottom {
  margin-bottom: 1rem;
}
.marginLeft {
  margin-left: 1rem;
}

.red {
  color: var(--red);
}
.bGred {
  background-color: var(--red);
  color: white;
}

.green {
  color: var(--green);
}
.bGgreen {
  color: white;
  background-color: var(--green);
}