#Pasta com arquivos auxiliares
/auxiliar

# Banco de dados SQL local
/Database/Base

# Ignores do backend
/sonoentregas-backend/node_modules
/sonoentregas-backend/src/databases/MSSQL/conections

# Logs do Sistema
/Logs