.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.5);
}

.login .login-content h1 {
  color: var(--white);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--blue-logo);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.login .login-content .field {
  margin-bottom: 2rem;
}

.login .login-content button {
  margin-bottom: 2rem;
  width: 100%;
  height: 2.5rem;
  color: var(--white);
  background-color: var(--blue-logo);
  border-radius: 0.25rem;
  border: none;
  opacity: 1;
  transition: all 0.3s;
}

.login .login-content button:hover {
  opacity: 0.7;
}

#shop {
  margin-bottom: 1rem;
}