.boxSeachMain {
  margin-bottom: 1rem;
}
.boxSeachMain .btnSearch {
  border: var(--orange);
  background-color: var(--orange);
  height: 100%;
  color: #FFF;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}
.boxSeachMain .btnSearch:hover{
  opacity: 0.7;
} 
.boxSeachMain .btnSearch:disabled{
  opacity: 1;
  cursor: not-allowed;
}

.headSendMain {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}
.headSendMain div {
  display: block;
  font-weight: bold;
}
.headSendMain div div{
  width: 100%;
}
.headSendMain div div span {
  font-weight: 400;
}

#textArea {
  display: flex;
}
#textArea textarea{
  margin-left: 5px;
}

.prodsSale table{
  margin-bottom: 1rem;
}
 /* Maintance visit*/

 .btnActionVisit {
   background-color: var(--orange);
   color: var(--white);
   text-align: center;
   font-weight: 700;
   padding: 1px;
   cursor: pointer;
 }
 .btnActionVisit.visit {
  background-color: var(--green);
 }
 .btnActionVisit.sched {
  background-color: var(--red);
 }

 .formSched{
   width: 700px;
 }

 .bodyScheVisit {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .btnReport {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  background-color: orange;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
 }
 .btnReport:hover {
  opacity: 1;
 }