.deliveryPrev {
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  
  background-color: #FFF;
  margin-bottom: 16px;
}

.deliveryPrev .headerPrev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -8px -16px;
  padding: 8px 16px;
  background-color: var(--gray-headers);
  color: #FFF;

  margin-bottom: 12px;
}

.deliveryPrev .salePrev {
  margin-top: 5px;
  border-top: 1px solid #CCC;
}

.deliveryPrev .salePrev span:nth-child(1) {
  display: inline-block;
  width: 10%;
}
.deliveryPrev .salePrev span:nth-child(2) {
  display: inline-block;
  width: 50%;
}
.deliveryPrev .salePrev span:nth-child(3) {
  display: inline-block;
  width: 15%;
}
.deliveryPrev .salePrev span:nth-child(4) {
  display: inline-block;
  width: 25%;
}

.deliveryPrev .productPrev span {
  font-size: 0.8rem;
}
.deliveryPrev .productPrev span:nth-child(1) {
  display: inline-block;
  width: 15%;
  padding-left: 10%;
}
.deliveryPrev .productPrev span:nth-child(2) {
  display: inline-block;
  width: 10%;
}
.deliveryPrev .productPrev span:nth-child(3) {
  display: inline-block;
  width: 55%;
}
.deliveryPrev .productPrev span:nth-child(4) {
  display: inline-block;
  width: 20%;
}
