nav {
  padding: 0 2rem 0 1.5rem;
  display: flex;
  align-items: center;
  background: linear-gradient(var(--text),var(--black));
}

nav a {
  color: var(--white);
  font-weight: 600;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
}

nav a:hover {
  background-color: var(--text);
}
.remove {
  background-color: transparent;
}
.active {
  background-color: var(--text);
}