.content.maint {
  margin: 1rem 0;
}
.tableMain {
  border-spacing: 0;
}

.tableMain .cod {
  width: 10%;
}

.tableMain .date {
  width: 12%;
}

.infoMain {
  display: flex;
}
.infoMain div {
  width: 100%;
}

.replTrue{
  background-color: var(--red);
  padding: 0 0.5rem;
  color: var(--text-inverse);
}
.replFalse{
  background-color: var(--green);
  padding: 0 0.5rem;
  color: var(--text-inverse);
}

.btnReport {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  background-color: orange;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
 }
 .btnReport:hover {
  opacity: 1;
 }